th{
    background-color: rgb(18, 18, 245);
    font-size: 20px;
    color: white;
    padding: 10px 50px;
    font-weight: bold;
}
table{
    width: 100%;
    margin: 100px auto;
 

}
td{
    font-size: 16px;
    padding-right: 70px;
    font-weight: 600;
  
}
table, th, td{
    border-top: 1px solid rgb(202, 13, 13);
    border-collapse: collapse;

}
.container{
    width: 50%;
    margin: auto;
}